# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore virtual environment directories
env/
venv/
.venv/

# Ignore logs, databases, and temp files
*.log
*.sqlite3
*.env

# Ignore package directories
dist/
build/
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE-specific files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore system files (macOS, Windows)
.DS_Store
Thumbs.db

